.btn__back-link {
  position: absolute;
  left: 0;
  top: 42px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // gap: 8px;

  //   font-family: "Karla";
  //   font-weight: 700;
  //   font-size: 18px;
}

.btn__back {
  // position: absolute;
  // left: 0;
  // top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  font-family: "Karla";
  font-weight: 700;
  font-size: 18px;
}
